{{ 'ingredient-style.css'  | asset_url | stylesheet_tag  }}
{% assign header = false  %}
{% for hj in product.metafields.custom.product_ingredient.value %}
  
  {% if hj.enable %}
    {% assign show = true %}
    {% break %}
  {% endif %}
{% endfor %}
<div class="prdct-ingredients">
  <div class="page-width">
    <header>
      {% if product.metafields.custom.product_ingredient != blank and show  %}
      <h1 class="center">KEY INGREDIENTS</h1>
      {% endif %}
    </header>
    <div class="ingredients-wrapper">

       {% for hj in product.metafields.custom.product_ingredient.value %}
        {% render  'prdct-objects',
          product:product,
          status : hj.enable,
          img : hj.image,
          name : hj.name,
          brief-desc : hj.brief_description,
          desc : hj.main_description,
          other : hj.other_info
        %} 
      {% endfor %}
    </div>
  </div
</div>
<div class="overlay"></div>
{% schema %}
  {
    "name": "Metaobjects ",
    "settings": [],
    "presets":[{"name":"Metaobjects"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}